primary-button($width = 300rpx, $height = 100rpx, $font-size = 36rpx)
  background-color #7599FF
  border none
  border-radius 50rpx
  color white
  margin-top $height
  width $width
  height $height
  font-size $font-size
  line-height $height
  filter drop-shadow(0 4rpx 8rpx rgba(#7599FF, 50%))

  &::after
    border none
