.form-header
  line-height 50rpx

.form-group
  display flex
  position relative
  z-index 1

.form-check
  background-color white
  border 1rpx solid #E9E9E9
  border-radius 8rpx
  display flex
  justify-content center
  align-items center
  width 290rpx
  height 100rpx

  &.active
    border-color #4367FF

  + .form-check
    margin-left auto

.form-check-radio
  margin-right 10rpx

.form-control
  background-color #F8F8F8
  border-radius 8rpx
  box-shadow inset 0 2rpx 4rpx rgba(black, .1)
  width 100%
  height 80rpx
  line-height 80rpx
  padding 10rpx 16rpx

  view& input
    line-height 80rpx
    height 80rpx

  textarea&
    height 180rpx

.text-placeholder
  color #666

.required-mark
  color red
  position absolute
  top 10rpx
  left 16rpx
  line-height 80rpx
  z-index 2

  .form-filled &
    display none

picker
  position relative
  width 100%

  .icon-chevron
    display block
    position absolute
    top 44rpx
    right 22rpx
    width 30rpx
    height 12rpx

.bottom-bar
  height 100rpx
  background rgba(white, .95)
  box-shadow 0 -2rpx 14rpx rgba(black, .1)
  display flex
  justify-content center
  align-items center
  z-index 10
  position fixed
  left 0
  width 100%
  bottom 0

.submit-button
  background-color #FF3B19
  border-radius 36rpx
  box-shadow 0 2rpx 8rpx rgba(#FF1919, .5)
  color white
  width 310rpx
  height 72rpx
  font-size 28rpx
  font-weight bold
  line-height 72rpx
  text-align center
