page,
view,
form,
picker,
button,
input,
textarea,
radio-group
  display block
  box-sizing border-box

page
  color #333
  font-size 30rpx
  line-height 1.4
  font-family 'PingFang SC'
  height 100%

.container
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
